.reveal aside {
    font-size: 50%;
}

.reveal [data-small-headers] h1 {
    font-size: 2.6em
}
.reveal [data-small-headers] h2 {
    font-size: 1.8em
}
.reveal [data-small-headers] h3 {
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 0.8em
}

.reveal {
    background-image: url("../resources/gdi.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 10px calc(100% - 10px);
}